@import "tailwindcss";

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
    body {
      font-family: "JetBrains Mono", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }
    a {
      text-decoration-line: underline;
    }
    a:hover {
      background-color: var(--color-indigo-900);
      color: var(--color-blue-100);
    }
    a:active {
      background-color: var(--color-indigo-900);
      color: var(--color-blue-100);
    }
  }